In [107]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [108]:
import helper_functions as hf
import Models

# Load Data

In [109]:
df = hf.load_data()
df.head()

,index_x,ticker,simfinid_x,date,open,high,low,close,adj_close,volume,...,non-operating_income_loss,interest_expense_net,pretax_income_loss_adj,abnormal_gains_losses,pretax_income_loss,income_tax_expense_benefit_net,income_loss_from_continuing_operations,net_extraordinary_gains_losses,net_income,net_income_common
0,16033,AAPL,111052,2019-12-23,70.13,71.06,70.09,71.00,68.53,98711532,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,40152,ABT,63877,2019-12-23,86.31,87.46,86.28,87.35,78.56,4067769,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,95854,ADBE,14099,2019-12-23,328.83,329.88,327.26,328.95,328.95,2210706,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,296720,AMGN,65735,2019-12-23,243.98,244.00,241.59,243.03,203.47,1686220,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,333254,AMZN,62747,2019-12-23,89.41,89.65,89.23,89.65,89.65,42749860,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Feature Sets

## Raw Features

In [110]:
df = hf.create_raw_features(df)

df[df['ticker'] == "AAPL"].head()[['date', 'ticker', 'adj_close', 'ret']]

          date ticker  adj_close       ret
0   2019-12-23   AAPL      68.53       NaN
49  2019-12-24   AAPL      68.59  0.000876
98  2019-12-26   AAPL      69.96  0.019974
147 2019-12-27   AAPL      69.93 -0.000429
196 2019-12-30   AAPL      70.34  0.005863

## Fundamental Features

In [111]:
df = hf.create_fundamental_features(df)

df[df['ticker'] == "AAPL"].tail()[['date', 'ticker', 'eps', 'profit_margin', 'revenue_growth']]

/Users/uri/Desktop/BU/ML-Stock-Predictor/helper_functions.py:64: FutureWarning: The default fill_method='ffill' in SeriesGroupBy.pct_change is deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  df['revenue_growth'] = df.groupby('ticker')['revenue'].pct_change()
/Users/uri/Desktop/BU/ML-Stock-Predictor/helper_functions.py:66: FutureWarning: The default fill_method='ffill' in SeriesGroupBy.pct_change is deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  df["income_growth"] = df.groupby("ticker")["net_income"].pct_change()

            date ticker       eps  profit_margin  revenue_growth
60515 2024-11-19   AAPL  0.966748        0.15523             0.0
60564 2024-11-20   AAPL  0.966748        0.15523             0.0
60613 2024-11-21   AAPL  0.966748        0.15523             0.0
60662 2024-11-22   AAPL  0.966748        0.15523             0.0
60711 2024-11-25   AAPL  0.966748        0.15523             0.0

## Engineered Features

In [112]:
df = hf.create_engineered_features(df)

df[df['ticker'] == "AAPL"].head(25)[['date', 'ticker', 'mean_20', 'vol_20', 'ema_cross', 'skew_20', 'kurt_20']]

           date ticker   mean_20    vol_20  ema_cross   skew_20   kurt_20
0    2019-12-23   AAPL       NaN       NaN        NaN       NaN       NaN
49   2019-12-24   AAPL       NaN       NaN   0.000000       NaN       NaN
98   2019-12-26   AAPL       NaN       NaN   0.004786       NaN       NaN
147  2019-12-27   AAPL       NaN       NaN   0.117769       NaN       NaN
196  2019-12-30   AAPL       NaN       NaN   0.202554       NaN       NaN
245  2019-12-31   AAPL       NaN       NaN   0.299379       NaN       NaN
294  2020-01-02   AAPL       NaN       NaN   0.413308       NaN       NaN
343  2020-01-03   AAPL       NaN       NaN   0.626292       NaN       NaN
392  2020-01-06   AAPL       NaN       NaN   0.730182       NaN       NaN
441  2020-01-07   AAPL       NaN       NaN   0.848727       NaN       NaN
490  2020-01-08   AAPL       NaN       NaN   0.904809       NaN       NaN
539  2020-01-09   AAPL       NaN       NaN   1.030972       NaN       NaN
588  2020-01-10   AAPL       NaN       NaN   1.241716       NaN       NaN
637  2020-01-13   AAPL       NaN       NaN   1.406239       NaN       NaN
686  2020-01-14   AAPL       NaN       NaN   1.646749       NaN       NaN
735  2020-01-15   AAPL       NaN       NaN   1.734250       NaN       NaN
784  2020-01-16   AAPL       NaN       NaN   1.757516       NaN       NaN
833  2020-01-17   AAPL       NaN       NaN   1.830700       NaN       NaN
882  2020-01-21   AAPL       NaN       NaN   1.934185       NaN       NaN
931  2020-01-22   AAPL       NaN       NaN   1.951739       NaN       NaN
980  2020-01-23   AAPL  0.005918  0.010791   1.964788  0.021504 -0.901141
1029 2020-01-24   AAPL  0.005732  0.010915   1.982137  0.053156 -0.989407
1078 2020-01-27   AAPL  0.003262  0.012926   1.955591 -0.577591  0.755174
1127 2020-01-28   AAPL  0.004698  0.014043   1.732222 -0.460057  0.420057
1176 2020-01-29   AAPL  0.005449  0.014502   1.705797 -0.509303  0.161981

In [113]:
list(df.columns)

['index_x',
 'ticker',
 'simfinid_x',
 'date',
 'open',
 'high',
 'low',
 'close',
 'adj_close',
 'volume',
 'dividend',
 'shares_outstanding',
 'index_y',
 'simfinid_y',
 'currency',
 'fiscal_year',
 'fiscal_period',
 'report_date',
 'publish_date',
 'restated_date',
 'shares_basic',
 'shares_diluted',
 'revenue',
 'cost_of_revenue',
 'gross_profit',
 'operating_expenses',
 'selling_general_&_administrative',
 'research_&_development',
 'depreciation_&_amortization',
 'operating_income_loss',
 'non-operating_income_loss',
 'interest_expense_net',
 'pretax_income_loss_adj',
 'abnormal_gains_losses',
 'pretax_income_loss',
 'income_tax_expense_benefit_net',
 'income_loss_from_continuing_operations',
 'net_extraordinary_gains_losses',
 'net_income',
 'net_income_common',
 'ret',
 'eps',
 'profit_margin',
 'revenue_growth',
 'income_growth',
 'gross_margin',
 'operating_margin',
 'sga_ratio',
 'rd_ratio',
 'cost_ratio',
 'net_income_per_share',
 'tax_burden',
 'nonop_ratio',
 'abnormal_ratio',
 'revenue_per_share',
 'da_ratio',
 'interest_coverage',
 'interest_burden',
 'mean_20',
 'mean_60',
 'vol_20',
 'vol_60',
 'mom_20',
 'mom_60',
 'ema_12',
 'ema_26',
 'ema_cross',
 'skew_20',
 'skew_60',
 'kurt_20',
 'kurt_60',
 'vol_z']

# Feature Selection

<h5 style="color:red">Check multicolinearity</h5>

In [114]:
raw = ['ret', 'volume']

eng = ['mean_20', 'mean_60', 'vol_20', 'vol_60',
       'mom_20', 'mom_60', 'ema_cross', 'skew_20',
       'skew_60', 'kurt_20', 'kurt_60']

fund = ['eps', 'profit_margin', 'revenue_growth']

fund_eng = fund + eng

# Binary Labels

In [115]:
horizons = [1, 20, 60]

horizon_cols = [f'y_{h}' for h in horizons]

df = hf.create_binary_labels(df, horizons)

df[df["ticker"] == "AAPL"].tail(30)[['date', 'ret'] + horizon_cols]

            date       ret  y_1  y_20  y_60
59290 2024-10-15  0.011043  0.0   0.0   NaN
59339 2024-10-16 -0.008858  1.0   0.0   NaN
59388 2024-10-17  0.001605  1.0   0.0   NaN
59437 2024-10-18  0.012258  1.0   0.0   NaN
59486 2024-10-21  0.006290  0.0   0.0   NaN
59535 2024-10-22 -0.002594  0.0   0.0   NaN
59584 2024-10-23 -0.021615  0.0   0.0   NaN
59633 2024-10-24 -0.000828  1.0   0.0   NaN
59682 2024-10-25  0.003620  1.0   0.0   NaN
59731 2024-10-28  0.008604  1.0   0.0   NaN
59780 2024-10-29  0.001163  0.0   NaN   NaN
59829 2024-10-30 -0.015277  0.0   NaN   NaN
59878 2024-10-31 -0.018223  0.0   NaN   NaN
59927 2024-11-01 -0.013264  0.0   NaN   NaN
59976 2024-11-04 -0.004060  1.0   NaN   NaN
60025 2024-11-05  0.006522  0.0   NaN   NaN
60074 2024-11-06 -0.003285  1.0   NaN   NaN
60123 2024-11-07  0.021355  0.0   NaN   NaN
60172 2024-11-08 -0.001194  0.0   NaN   NaN
60221 2024-11-11 -0.011994  0.0   NaN   NaN
60270 2024-11-12  0.000000  1.0   NaN   NaN
60319 2024-11-13  0.003942  1.0   NaN   NaN
60368 2024-11-14  0.013787  0.0   NaN   NaN
60417 2024-11-15 -0.014128  1.0   NaN   NaN
60466 2024-11-18  0.013437  1.0   NaN   NaN
60515 2024-11-19  0.001145  1.0   NaN   NaN
60564 2024-11-20  0.003168  0.0   NaN   NaN
60613 2024-11-21 -0.002105  1.0   NaN   NaN
60662 2024-11-22  0.005890  1.0   NaN   NaN
60711 2024-11-25  0.013065  NaN   NaN   NaN

### `NOTE: we can use sklearn train-test split`

In [116]:
train, val, test = hf.time_split(df)
len(train), len(val), len(test)

(42581, 9114, 9065)

# Modeling: Logistic Regression

## Horizon 1 days

In [117]:
TARGET = "y_1"

### Raw Features

In [118]:
data = hf.prune(df, raw, TARGET)

train, val, test = hf.time_split(data)

Models.run_logistic_regression(train, val, test, raw, TARGET)

Test AUC: 0.4985415036119433
Test accuracy: 0.5343629343629344
              precision    recall  f1-score   support

         0.0       0.51      0.07      0.13      4232
         1.0       0.54      0.94      0.68      4833

    accuracy                           0.53      9065
   macro avg       0.52      0.51      0.41      9065
weighted avg       0.52      0.53      0.42      9065

### Features Eng

In [119]:
data = hf.prune(df, eng, TARGET)

train, val, test = hf.time_split(data)

Models.run_logistic_regression(train, val, test, eng, TARGET)

Test AUC: 0.5042326455210047
Test accuracy: 0.5257421150278293
              precision    recall  f1-score   support

         0.0       0.44      0.07      0.12      4010
         1.0       0.53      0.92      0.67      4614

    accuracy                           0.53      8624
   macro avg       0.49      0.50      0.40      8624
weighted avg       0.49      0.53      0.42      8624

### Features Fund

In [120]:
data = hf.prune(df, fund, TARGET)

train, val, test = hf.time_split(data)

Models.run_logistic_regression(train, val, test, fund, TARGET)

Test AUC: 0.5039061800930102
Test accuracy: 0.5332406471183013
              precision    recall  f1-score   support

         0.0       0.58      0.02      0.03      3711
         1.0       0.53      0.99      0.69      4201

    accuracy                           0.53      7912
   macro avg       0.56      0.50      0.36      7912
weighted avg       0.56      0.53      0.38      7912

### Features Fund & Eng

In [121]:
data = hf.prune(df, fund_eng, TARGET)

train, val, test = hf.time_split(data)

Models.run_logistic_regression(train, val, test, fund_eng, TARGET)

Test AUC: 0.5028364861844177
Test accuracy: 0.5046247357293869
              precision    recall  f1-score   support

         0.0       0.48      0.58      0.53      3546
         1.0       0.54      0.43      0.48      4022

    accuracy                           0.50      7568
   macro avg       0.51      0.51      0.50      7568
weighted avg       0.51      0.50      0.50      7568

## Horizon 20 days

In [122]:
TARGET = "y_20"

### Features Raw

In [123]:
data = hf.prune(df, raw, TARGET)

train, val, test = hf.time_split(data)

Models.run_logistic_regression(train, val, test, raw, TARGET)

Test AUC: 0.5279288362438861
Test accuracy: 0.4392240412648576
              precision    recall  f1-score   support

         0.0       0.40      0.84      0.54      3480
         1.0       0.64      0.19      0.29      5438

    accuracy                           0.44      8918
   macro avg       0.52      0.51      0.41      8918
weighted avg       0.54      0.44      0.39      8918

### Features Eng

In [124]:
data = hf.prune(df, eng, TARGET)

train, val, test = hf.time_split(data)

Models.run_logistic_regression(train, val, test, eng, TARGET)

Test AUC: 0.5230507945911125
Test accuracy: 0.6059926860917777
              precision    recall  f1-score   support

         0.0       0.55      0.02      0.05      3355
         1.0       0.61      0.99      0.75      5122

    accuracy                           0.61      8477
   macro avg       0.58      0.51      0.40      8477
weighted avg       0.58      0.61      0.47      8477

### Features Fund

In [125]:
data = hf.prune(df, fund, TARGET)

train, val, test = hf.time_split(data)

Models.run_logistic_regression(train, val, test, fund, TARGET)

Test AUC: 0.4742475486393481
Test accuracy: 0.5888065422949144
              precision    recall  f1-score   support

         0.0       0.60      0.02      0.03      3234
         1.0       0.59      0.99      0.74      4592

    accuracy                           0.59      7826
   macro avg       0.59      0.50      0.38      7826
weighted avg       0.59      0.59      0.45      7826

### Features Fund & Eng

In [126]:
data = hf.prune(df, fund_eng, TARGET)

train, val, test = hf.time_split(data)

Models.run_logistic_regression(train, val, test, fund_eng, TARGET)

Test AUC: 0.5147096701169483
Test accuracy: 0.490926199758032
              precision    recall  f1-score   support

         0.0       0.43      0.67      0.52      3111
         1.0       0.60      0.37      0.46      4328

    accuracy                           0.49      7439
   macro avg       0.52      0.52      0.49      7439
weighted avg       0.53      0.49      0.48      7439

## Horizon 60 days

In [127]:
TARGET = "y_60"

### Features Raw

In [128]:
data = hf.prune(df, eng, TARGET)

train, val, test = hf.time_split(data)

Models.run_logistic_regression(train, val, test, eng, TARGET)

Test AUC: 0.5155989360767208
Test accuracy: 0.41158499327874865
              precision    recall  f1-score   support

         0.0       0.32      0.82      0.46      2534
         1.0       0.74      0.23      0.35      5649

    accuracy                           0.41      8183
   macro avg       0.53      0.52      0.41      8183
weighted avg       0.61      0.41      0.38      8183

### Features Eng

In [129]:
data = hf.prune(df, eng, TARGET)

train, val, test = hf.time_split(data)

Models.run_logistic_regression(train, val, test, eng, TARGET)

Test AUC: 0.5155989360767208
Test accuracy: 0.41158499327874865
              precision    recall  f1-score   support

         0.0       0.32      0.82      0.46      2534
         1.0       0.74      0.23      0.35      5649

    accuracy                           0.41      8183
   macro avg       0.53      0.52      0.41      8183
weighted avg       0.61      0.41      0.38      8183

### Features Fund

In [130]:
data = hf.prune(df, fund, TARGET)

train, val, test = hf.time_split(data)

Models.run_logistic_regression(train, val, test, fund, TARGET)

Test AUC: 0.47889826190038687
Test accuracy: 0.6671511627906976
              precision    recall  f1-score   support

         0.0       0.00      0.00      0.00      2519
         1.0       0.67      1.00      0.80      5049

    accuracy                           0.67      7568
   macro avg       0.33      0.50      0.40      7568
weighted avg       0.45      0.67      0.53      7568

/Users/uri/Desktop/BU/ML-Stock-Predictor/venv/lib/python3.11/site-packages/sklearn/metrics/_classification.py:1731: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", result.shape[0])
/Users/uri/Desktop/BU/ML-Stock-Predictor/venv/lib/python3.11/site-packages/sklearn/metrics/_classification.py:1731: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", result.shape[0])
/Users/uri/Desktop/BU/ML-Stock-Predictor/venv/lib/python3.11/site-packages/sklearn/metrics/_classification.py:1731: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", result.shape[0])

### Features Fund & Eng

In [131]:
data = hf.prune(df, fund_eng, TARGET)

train, val, test = hf.time_split(data)

Models.run_logistic_regression(train, val, test, fund_eng, TARGET)

Test AUC: 0.5006284541505793
Test accuracy: 0.4386575685837627
              precision    recall  f1-score   support

         0.0       0.35      0.78      0.48      2412
         1.0       0.70      0.27      0.39      4769

    accuracy                           0.44      7181
   macro avg       0.53      0.52      0.43      7181
weighted avg       0.58      0.44      0.42      7181